
.container{ display:flex; flex-direction:column;}
#wrapper{ width:100vh; display:flex; flex-direction:row;}

.header { background-color:rgb(0, 148, 255); color:white; padding:10px;}
.ass{display:flex; flex-direction:column; margin-left:10vh; margin:0 auto;}
.as{width:20vh;}


textarea{height:500px;}

.ims{display:flex; flex-direction:row; width:70vh;}

.ims img{width:50%;}

*{width:100vh; float:left; }

body {
}
